@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600&display=swap");
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #eacf4f;
  border-radius: 5rem;
}

body {
  background: url(../images/background.jpg);
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #000;
  padding: 3rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.header .icons {
  font-size: 2.5rem;
  cursor: pointer;
  color: #fff;
}
.header .icons:hover {
  color: #eacf4f;
}
.header .icons label {
  font-size: 2.5rem;
  color: #fff;
}
.header .icons label:hover {
  color: #eacf4f;
}
.header #menu-btn {
  display: none;
}
.header .navbar a {
  color: #fff;
  font-size: 2rem;
  margin: 2rem;
}
.header .navbar a:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
  color: #eacf4f;
}
.header .navbar .space {
  display: inline-block;
  width: 16rem;
}
.header .logo {
  position: absolute;
  top: 4.3rem;
  left: 45.7%;
  transform: translateY(-55%);
}
.header .logo img {
  width: 15rem;
}
.header .search-form {
  height: 7rem;
  padding: 0 2rem;
  border-top: 0.2rem solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  background: #000;
  position: absolute;
  top: 99%;
  left: 0;
  right: 0;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.header .search-form.active {
  clip-path: polygon(0 0, 100% 1%, 100% 100%, 0% 100%);
}
.header .search-form input {
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: #fff;
}
.header .fa-times-circle {
  transform: rotate(180deg);
}

@media (max-width: 1450px) {
  .header {
    padding: 6rem;
  }
  .header .logo {
    position: absolute;
    top: 6rem;
    left: 44%;
    transform: translateY(0%);
  }
}
@media (max-width: 1420px) {
  .header {
    padding: 6rem;
  }
  .header .logo {
    position: absolute;
    top: 6rem;
    left: 44%;
    transform: translateY(0%);
  }
}
@media (max-width: 1320px) {
  .header {
    padding: 6rem;
  }
  .header .logo {
    position: absolute;
    top: 6rem;
    left: 44%;
    transform: translateY(0%);
  }
}
@media (max-width: 1300px) {
  .header {
    padding: 6rem;
  }
  .header .logo {
    position: absolute;
    top: 6rem;
    left: 44%;
    transform: translateY(0%);
  }
}
@media (max-width: 1250px) {
  .header {
    padding: 6rem;
  }
  .header .logo {
    position: absolute;
    top: 6rem;
    left: 44%;
    transform: translateY(0%);
  }
}
@media (max-width: 1130px) {
  .header {
    padding: 6rem;
  }
  .header .logo {
    position: absolute;
    top: 6rem;
    left: 44%;
    transform: translateY(0%);
  }
}
@media (max-width: 1160px) {
  .header {
    padding: 6rem;
  }
  .header .logo {
    position: absolute;
    top: 6rem;
    left: 44%;
    transform: translateY(0%);
  }
}
@media (max-width: 1100px) {
  .header {
    padding: 6rem;
  }
  .header .logo {
    position: absolute;
    top: 6rem;
    left: 44%;
    transform: translateY(0%);
  }
}
@media (max-width: 1200px) {
  .header {
    padding: 6rem;
  }

  .logo {
    position: absolute;
    top: 6rem;
    left: 42.5%;
    transform: translateY(0%);
  }
}
@media (max-width: 1080px) {
  .header {
    padding: 6rem;
  }
  .header .logo {
    position: absolute;
    top: 6rem;
    left: 42.5%;
    transform: translateY(0%);
  }
}
@media (max-width: 1060px) {
  .header {
    padding: 6rem;
  }
  .header .logo {
    position: absolute;
    top: 6rem;
    left: 42.5%;
    transform: translateY(0%);
  }
}
@media (max-width: 1070px) {
  .header {
    padding: 6rem;
  }
  .header .logo {
    position: absolute;
    top: 6rem;
    left: 42.5%;
    transform: translateY(0%);
  }
}
@media (max-width: 1048px) {
  .header {
    padding: 6rem;
  }
  .header .logo {
    position: absolute;
    top: 6rem;
    left: 42.5%;
    transform: translateY(0%);
  }
}
@media (max-width: 1039px) {
  html {
    font-size: 55%;
  }

  .header {
    justify-content: flex-end;
    gap: 2rem;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #000;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    clip-path: polygon(0 0, 100% 1%, 100% 100%, 0% 100%);
  }
  .header .navbar a {
    display: block;
    margin: 3rem 2rem;
  }
  .header .navbar .space {
    display: none;
  }
  .header .logo {
    transform: translateX(0);
    left: 3rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
